@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 1368px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Inter", sans-serif;
}

.red-bg {
  background-color: #4a2b33;
}

/* Header */
.header {
  padding-top: 44px;
  padding-bottom: 44px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list-link {
  text-decoration: none;
  color: #d27487;
  font-size: 15px;
  line-height: 24px;
}

.logo {
  width: 276px;
  height: 32px;
}

.contact-list {
  display: flex;
  gap: 16px;
}

.contact-list-icon {
  width: 24px;
  height: 24px;
}

/* Hero */
.hero-container {
  padding-bottom: 36px;
}

.hero-bg {
  width: 100%;
  height: 644px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* About */
.about-section {
  padding: 220px 0px;
}

.about-section-container {
  max-width: 909px;
}

.about-section-title {
  font-family: "Azeret Mono", sans-serif;
  font-size: 17px;
  line-height: 21.6px;
  text-align: center;
  margin-bottom: 3px;
  color: #222222;
}

.about-section-description {
  font-weight: 400;
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 0%;
  text-align: center;
  color: #222222;
}
