@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 1368px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.red-bg {
  background-color: #4a2b33;
}

/* Header */
.header {
  padding-top: 44px;
  padding-bottom: 44px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-list-link {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #d27487;
  font-size: 15px;
  line-height: 24px;
}

.logo {
  width: 276px;
  height: 32px;
}

.contact-list {
  display: flex;
  gap: 16px;
}

.contact-list-icon {
  width: 24px;
  height: 24px;
}
